/* --Main styles--*/
* {
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    text-align: center;
    width: 100%;
    padding: 0px 0 20px 0;
}

main {
    background-color: white;
}

p {
    line-height: 30px;
    font-size: 18px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    background-color: white;
}

/* FONTS */

nav, footer, .intro p, .contact-card {
    font-family: 'Roboto Condensed', sans-serif;
}

.card {
    font-family: 'PT-Serif', sans-serif;
}